---
import Layout from '../layouts/Layout.astro';
import Game from '../components/Game';
---

<Layout title="Memory Game">
  <main class="container mx-auto px-4 py-6 md:py-8 lg:py-12 min-h-screen">
    <Game client:load />
  </main>
</Layout>